# Backend API URL (for local development use http://localhost:8000)
# This will be replaced at build time.
# Use a complete URL (including http:// or https:// and port if not 80/443)
API_URL=http://localhost:8000
